@media screen and (max-width: 800px) {
	.containter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;
	}
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 10px;

		border-radius: 10px;

		background-color: rgba(255, 255, 255, 0.5);
	}
	.p {
		margin: 10px;
	}
	.link {
		width: 100%;
	}
	.back {
		position: fixed;
		top: 5px;
		left: 5px;
	}
}
