.button {
	border-radius: 10px;

	min-width: 200px;
	min-height: 40px;

	margin: 10px;
	padding: 10px;

	background-color: #8898a6;

	font-size: 16px;
	font-weight: 500;
	color: white;
	text-decoration: none;

	cursor: pointer;
}
.button:active {
	background-color: #000000;
}
