:root {
	position: relative;
}
* {
	box-sizing: border-box;
	font-family: "Roboto Flex", sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	background: none;
	scroll-behavior: smooth;
	background-color: #8898a6;
}
a {
	letter-spacing: 0;
	margin: 0px;
	padding: 0px;
}
p {
	color: white;
}
button {
	color: white;
}
