.record {
	width: 100%;

	margin: 6px;
	padding: 10px;

	background-color: #0e1927;

	border-radius: 10px;

	color: white;
	font-size: 14px;
	font-weight: 500;
}
.userInfo {
	display: flex;

	margin: 5px;
}
.block {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #8898a6;

	padding: 4px;
	margin: 2px;

	flex-grow: 1;

	border-radius: 5px;
}
